<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- 服务器地址 -->
        <add key="serverIp" value="192.168.1.130" />
        <!-- 服务器端口 -->
        <add key="serverPort" value="12345" />
        <!-- 等待回包超时 -->
        <add key="timeout" value="5000" />
        <!-- 重试次数 -->
        <add key="retry" value="50" />
        <!-- 发送间隔 -->
        <add key="delay" value="1" />
        <!-- 网关编号 ? 表示随机生成 -->
	    <add key ="gid" value ="F1F2F3F4F5F6F7F8"/>
        <!-- 自动发送次数 -->
        <add key="Repeats" value="1" />
        <!-- 输出原始数据 -->
        <add key="PutRawData" value="true" />
        
        <!-- 设备类型        adg=按键网关 ads=刷卡设备 only=独立设备 -->
        <add key="udtp" value="ads" />
        <!-- 用户编号        udtp==adg "01","02","03" udtp==ads 不定长字符串 udtp=only 网关编号  -->
        <add key="uid" value="0123456789ABCDEF0123" />


    </appSettings>
</configuration>